.small-card {
  width: 330px;
  height: 500px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.small-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
}

.small-card-image {
  flex: 0 0 230px;
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
}

.small-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.3s ease;
}

.small-card:hover .small-card-image img {
  transform: scale(1.05);
}

.small-favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.small-card-info {
  padding: 0.8rem;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.small-card-category {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #6b7280;
  letter-spacing: 0.04em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  margin-top: -20px;
}

.small-card-title {
  font-size: 25px;
  margin-top: -14px;
  font-weight: 700;
  line-height: 1.3;
  color: #111827;
  margin-bottom: 0.3rem;
  font-family: 'Raleway', sans-serif;
}

.small-card-city {
  font-size: 19px;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5rem;
}

.small-card-desc {
  color: #111827;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0.5rem;
  flex-grow: 1;
}

.small-More-Detail-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 28px;
  margin: 1rem auto 0;
  background-color: #fff;
  border-radius: 16px;
  font-weight: 300;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.small-More-Detail-Wrapper:hover {
  background-color: #e5e7eb;
}

.small-More-Detail {
  color: #111;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 0.3rem;
}

.small-heart-button {
  background: none;
  height: 28px;
  width: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.small-heart-img {
  height: 20px;
  width: 20px;
}

.small-location_sym {
  height: 20px;
  margin-left: 1px;
  width: auto;
  position: relative;
  width: 30px;
  scale: 1.3;
  margin-top: -1px;
}
.location-line{
    display: flex;
    position: relative;
    left: -6px;
    top: 5px;
}

.line-hr{
    width: 100%;
    height: 1px;
    background-color: grey;
    position: relative;
    top: 4px;
}

