.price-filter{
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 170px;
  transition: all ease-in-out .5s;
  margin-right: -2rem;

}


.price-filter-wrapper{
  display: flex;
}
.price-filter-label{
  color: black;
  margin-right: 13px;
  position: relative;
  top:3px;
}
.multi-select{
  width: 300px;
}

.filter-wrapper{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  background-color: white;
  height: 90px;
}

.category-wrapper{
  margin-right: 1rem;
  margin-left: 1rem;
  width: 500px;
  margin-top: 13px;
  overflow-y: default; 
}

.price-wrapper{
  margin-right: 1rem;
  margin-left: 1rem;
  width: 150x;
  margin-top: 13px;
}

.city-wrapper{
  margin-right: 1rem;
  margin-left: 1rem;
  width: 500px;
  margin-top: 13px;
}

.search-bar-wrapper{
    display: flex;
    margin-right: 10px;
    position: relative;
    top: 11px;
}

.search-icon{
    margin-right: 10px;
}